<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Bataan Nuclear Power Plant</h1>
<p>This site is dedicated to counter all the misinformations that has been
perpetuated regarding nuclear or atomic energy. I recognize that the history of the discovery and realization of nuclear fission is tied closely to the development of nuclear bomb. In fact it was exactly the war that brought forth the rapid development of fission and later on the atomic bomb. Nuclear or atomic energy had been synonymous to bomb and death. </p>
</div>
